/* Input at top */
#top {font-size:16px; font-family: monospace;
  outline: 0;
  width:90%;
  border:0; outline:0; border-radius: 0;
  padding: 0 8px;
  color: #00A; }
#output { 
  padding: 0; }
* { font-size:16px; font-family: monospace; }
