/* Input at top */
#top {font-size:16px; font-family: monospace;
  outline: 0;
  position:fixed;
  top:0;left:0;right:0;
  width:100%;
  border:0; outline:0; border-radius: 0;
  padding: 8px;}
.text { font-size:16px; font-family: monospace;}
